@import './variables.css';

.projects__container {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.projects-image {
  width: 18rem;
  height: 12rem;
  background-image: url('../images/19199360.jpg');
  background-position: center;
  background-size: cover;
}

.project-link > a {
  text-decoration: none;
  color: var(--color-black);
}
.project-link > a:hover {
  color: var(--color-primary);
}

@media (min-width: 577px) {
  .projects__container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
}
