@import './variables.css';

.skills {
  background-color: #eeeded;
  box-shadow: var(--box-shadow);
}

.skills__description {
  margin: 2rem 0;
}
.skills__description p {
  padding-left: 1rem;
}

.skills__list {
  padding: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.fa-html5 {
  color: #f06529;
}
.fa-css3-alt {
  color: #264de4;
}
.fa-sass {
  color: #cd6799;
}
.fa-js-square {
  color: #f0db4f;
}
.fa-react {
  color: #61dbfb;
}
.fa-npm {
  color: #cc3534;
}
.fa-gulp {
  color: #db4446;
}
.fa-bootstrap {
  color: #563d7c;
}

@media (min-width: 577px) {
  #skills {
    justify-content: space-around;
  }
  .skills__description {
    margin: 2rem 0;
    padding-left: 3rem;
    display: inline-block;
  }
  .skills__description p {
    padding: 3rem;
  }
  .skills__list {
    padding: 0;
    width: 25rem;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  .skills__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skills-item {
    padding-right: 1.2rem;
    font-size: 1.2rem;
  }
  .skills-item:hover {
    font-size: 1.5rem;
    transition: all 3s ease-in-out;
  }
}
