@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --color-primary: #546de5;
  --color-curacao: #3dc1d3;
  --color-lighter-blue: #63cdda;
  --color-pink: #f8a5c2;
  --color-yellow: #f5cd79;
  --color-grey: #596275;
  --color-white: #ffffff;
  --color-black: #000000;
  --header-height: 5em;
  --box-shadow: 0px 0px 17px -8px #000000;
}

/* header */

.navbar {
  box-shadow: var(--box-shadow);
}
.initials {
  width: 3rem;
  display: inline-block;
  border-radius: 4px;
  font-size: 2rem;
  font-family: 'Parisienne', cursive;
  text-align: center;
}
.navbar-toggler {
  background-color: var(--color-primary);
}
.nav-item {
  padding: 0 1rem;
}
.nav-item:hover {
  border: 1px solid var(--color-primary);
  transition: all 0.4 0s ease-in;
  border-radius: 5px;
}
