@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import './variables.css';
@import './about-me.css';
@import './skills.css';
@import './projects.css';
@import './contact.css';
@import './footer.css';

.row {
  --bs-gutter-x: 0;
}
.background {
  background-color: var(--color-background);
  box-shadow: var(--box-shadow);
}

/* header */

.navbar {
  box-shadow: var(--box-shadow);
}
.initials {
  width: 3rem;
  display: inline-block;
  font-size: 2rem;
  font-family: 'Parisienne', cursive;
  text-align: center;
}
.navbar-toggler {
  background-color: var(--color-primary);
}
.nav-item {
  padding: 0 1rem;
  text-align: center;
  border: 1px solid #f7f7f7;
}
.nav-item:hover {
  border: 1px solid var(--color-primary);
  transition: all 0.4 0s ease-in;
  border-radius: var(--radius);
}

.header__short {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.jumbo {
  width: 100vw;
  height: 80vh;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description h1 {
  font-weight: bolder;
}

.header__photo {
  position: relative;
}

.shape {
  width: 220px;
  height: 220px;
  border-radius: 69% 31% 69% 31% / 68% 66% 34% 32%;
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow);
  position: absolute;
  top: -4rem;
  right: 4rem;
}
.photo-img {
  width: 200px;
  height: 200px;
  border-radius: 69% 31% 69% 31% / 68% 66% 34% 32%;
  background: url('../images/DSC_69411.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--color-primary);
  position: absolute;
  top: -3rem;
  right: 5.5rem;
}
.link-a:hover {
  color: black !important;
}
.btn {
  padding: 0.5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: bold;
  margin: 0 0.25rem;
  box-shadow: var(--box-shadow);
  border-radius: var(--radius);
}

.title {
  margin-bottom: 2rem;
  font-weight: bolder;
  color: var(--color-primary);
  text-shadow: 1px 1px #000000;
  text-align: center;
}

.title:hover {
  font-size: 2rem;
  transition: all 0.2s ease-in;
}
.container {
  max-width: 960px;
}
.section {
  padding: 1rem;
  width: 100vw;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 789px) {
  .jumbo {
    height: 50vh;
  }
  .header__short {
    padding-left: 5rem;
  }
  .photo-img {
    width: 16rem;
    height: 16rem;
    position: absolute;
    top: 5rem;
    right: 17rem;
  }
  .shape {
    width: 17rem;
    height: 17rem;
    position: absolute;
    top: 4rem;
    right: 16rem;
  }
  .section {
    margin: 1rem 0;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .jumbo {
    height: 50vh;
  }
  .photo-img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -3rem;
    right: 13rem;
  }

  .shape {
    width: 220px;
    height: 220px;
    position: absolute;
    top: -4rem;
    right: 12rem;
  }
  .section {
    margin: 1rem 0;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
