@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import './variables.css';
@import './about-me.css';
@import './skills.css';
@import './projects.css';

/* header */

.row {
  --bs-gutter-x: 0;
}

.navbar {
  box-shadow: var(--box-shadow);
}
.initials {
  width: 3rem;
  display: inline-block;
  font-size: 2rem;
  font-family: 'Parisienne', cursive;
  text-align: center;
}
.navbar-toggler {
  background-color: var(--color-primary);
}
.nav-item {
  padding: 0 1rem;
  text-align: center;
}
.nav-item:hover {
  border: 1px solid var(--color-primary);
  transition: all 0.4 0s ease-in;
  border-radius: var(--radius);
}

.header__short {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.jumbo {
  width: 100vw;
  height: 80vh;
  background-color: #eeeded;
  box-shadow: var(--box-shadow);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description h1 {
  font-weight: bolder;
}

.header__photo {
  position: relative;
}

.shape {
  width: 220px;
  height: 220px;
  border-radius: 69% 31% 69% 31% / 68% 66% 34% 32%;
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow);
  position: absolute;
  top: -4rem;
  right: 4rem;
}
.photo-img {
  width: 200px;
  height: 200px;
  border-radius: 69% 31% 69% 31% / 68% 66% 34% 32%;
  background: url('../images/DSC_69411.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--color-primary);
  position: absolute;
  top: -3rem;
  right: 5.5rem;
}

.btn {
  padding: 0.5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: bold;
  margin: 0 0.25rem;
  box-shadow: var(--box-shadow);
  border-radius: var(--radius);
}

.title {
  margin-bottom: 2rem;
  font-weight: bolder;
  color: var(--color-primary);
  text-shadow: 1px 1px #000000;
  text-align: center;
}

.title:hover {
  font-size: 2.5rem;
  transition: all 0.2s ease-in;
}
.container {
  max-width: 960px;
}

@media (min-width: 789px) {
  .jumbo {
    height: 60vh;
  }
  .photo-img {
    width: 16rem;
    height: 16rem;
    position: absolute;
    top: 5rem;
    right: 12rem;
  }
  .shape {
    width: 17rem;
    height: 17rem;
    position: absolute;
    top: 4rem;
    right: 11rem;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .jumbo {
    height: 70vh;
  }
  .photo-img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -3rem;
    right: 13rem;
  }

  .shape {
    width: 220px;
    height: 220px;
    position: absolute;
    top: -4rem;
    right: 12rem;
  }
}
