* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --color-primary: #546de5;
  --color-curacao: #3dc1d3;
  --color-lighter-blue: #63cdda;
  --color-pink: #f8a5c2;
  --color-yellow: #f5cd79;
  --color-grey: #596275;
  --color-white: #ffffff;
  --color-black: #000000;
  --header-height: 5em;
  --box-shadow: 0px 0px 10px -8px #000000;
  --radius: 5px;
}
